In [1]:
import pandas as pd
from neo4j import GraphDatabase

In [2]:
driver = GraphDatabase.driver(uri="bolt://localhost:7687",auth=("neo4j","bludgeon831"))

In [3]:
session = driver.session()

In [4]:
df = pd.read_csv("Relations/filtered_relations_dep.csv")
df

,head,relation,tail,text
0,dhritaarashtra,brother of,shakuni,"acala1, brother in law of dhritaarashtra, brot..."
1,ashvashanku,brother of,ashva,"ashvashanku, brother of ashva, cf."
2,ashvashiras1,brother of,ashva,"ashvashiras1, brother of ashva, is incarnated ..."
3,ashvagriva1,brother of,ashva,"ashvagriva1, brother of ashva, incarnated as k..."
4,ashvapati1,brother of,ashva1,"ashvapati1, brother of ashva1, incarnate as ki..."
...,...,...,...,...
1011,vishaalaa,wife of,ajamidha,"vishaalaa, wife of ajamidha."
1012,jamadagni,wife of,gaadhi,"then, by the favour of ricika, she gave birth ..."
1013,viraa,wife of,the fire bharadvaaja,"viraa, wife of the fire bharadvaaja."
1014,virini,wife of,daksha,"virini, wife of daksha."
1015,yashodaa,wife of,the cowherd,"yashodaa, wife of the cowherd nanda."

In [5]:
query = """
MERGE (h:Node {name: $head})
MERGE (t:Node {name: $tail})
WITH h, t
CALL apoc.create.relationship(h, $relation, {}, t) YIELD rel
RETURN h, rel, t
"""

In [9]:
for i in range(len(df)):
    p = {'head': df['head'][i], 'tail': df['tail'][i], 'relation': df['relation'][i]}
    session.run(query,p)

In [7]:
df.columns

Index(['head', 'relation', 'tail', 'text'], dtype='object')