In [1]:
import pickle

with open('BROTHER.pkl', 'rb') as f:
    BROTHER = pickle.load(f)

with open('DAUGHTER.pkl', 'rb') as f:
    DAUGHTER = pickle.load(f)

with open('FATHER.pkl', 'rb') as f:
    FATHER = pickle.load(f)

with open('HUSBAND.pkl', 'rb') as f:
    HUSBAND = pickle.load(f)

with open('MOTHER.pkl', 'rb') as f:
    MOTHER = pickle.load(f)

with open('SISTER.pkl', 'rb') as f:
    SISTER = pickle.load(f)

with open('SON.pkl', 'rb') as f:
    SON = pickle.load(f)

with open('WIFE.pkl', 'rb') as f:
    WIFE = pickle.load(f)

In [2]:
rels = ['SISTER','DAUGHTER','HUSBAND','FATHER','MOTHER','SON','WIFE']

In [3]:
import csv

In [4]:
field_names = ['head', 'relation', 'tail', 'text']

# Open the CSV file in write mode
with open('Relations_dep.csv', 'w', newline='',encoding='utf-8') as csvfile:
    writer = csv.DictWriter(csvfile, fieldnames=field_names)
    writer.writeheader()
    for item in BROTHER:
        writer.writerow(item)

In [5]:
with open('Relations_Dep.csv', 'a', newline='', encoding='utf-8') as csvfile:
    writer = csv.DictWriter(csvfile, fieldnames=field_names)
    for item in FATHER:
        writer.writerow(item)

with open('Relations_Dep.csv', 'a', newline='', encoding='utf-8') as csvfile:
    writer = csv.DictWriter(csvfile, fieldnames=field_names)
    for item in MOTHER:
        writer.writerow(item)

with open('Relations_Dep.csv', 'a', newline='', encoding='utf-8') as csvfile:
    writer = csv.DictWriter(csvfile, fieldnames=field_names)
    for item in SISTER:
        writer.writerow(item)

with open('Relations_Dep.csv', 'a', newline='', encoding='utf-8') as csvfile:
    writer = csv.DictWriter(csvfile, fieldnames=field_names)
    for item in SON:
        writer.writerow(item)

with open('Relations_Dep.csv', 'a', newline='', encoding='utf-8') as csvfile:
    writer = csv.DictWriter(csvfile, fieldnames=field_names)
    for item in DAUGHTER:
        writer.writerow(item)

with open('Relations_Dep.csv', 'a', newline='', encoding='utf-8') as csvfile:
    writer = csv.DictWriter(csvfile, fieldnames=field_names)
    for item in HUSBAND:
        writer.writerow(item)

with open('Relations_Dep.csv', 'a', newline='', encoding='utf-8') as csvfile:
    writer = csv.DictWriter(csvfile, fieldnames=field_names)
    for item in WIFE:
        writer.writerow(item)

In [8]:
import pandas as pd

df = pd.read_csv('Relations_Dep.csv')

# Display the first few rows of the DataFrame
df.head()

,head,relation,tail,text
0,dhritaarashtra,brother of,shakuni,"acala1, brother in law of dhritaarashtra, brot..."
1,ashvashanku,brother of,ashva,"ashvashanku, brother of ashva, cf."
2,ashvashiras1,brother of,ashva,"ashvashiras1, brother of ashva, is incarnated ..."
3,ashvagriva1,brother of,ashva,"ashvagriva1, brother of ashva, incarnated as k..."
4,ashvapati1,brother of,ashva1,"ashvapati1, brother of ashva1, incarnate as ki..."

In [9]:
import nltk
nltk.download('wordnet')

from nltk.corpus import wordnet

def is_english_word(word):
    # Check if the word is in WordNet's list of English words
    return wordnet.synsets(word) != []

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\rubyp\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [13]:
import pandas as pd


# df = pd.DataFrame(data)

# Function to filter out rows with English words in 'head' or 'tail' columns
def filter_non_english_words(row):
    if not is_english_word(row['head']) and not is_english_word(row['tail']):
        return True
    else:
        return False

# Apply the filter
filtered_df = df[df.apply(filter_non_english_words, axis=1)]

# Display the filtered DataFrame

filtered_df.to_csv('filtered_relations_dep.csv', index=False)

print("Filtered data saved to 'filtered_relations_dep.csv'")

Filtered data saved to 'filtered_relations_dep.csv'

In [14]:
filtered_df.head()

,head,relation,tail,text
0,dhritaarashtra,brother of,shakuni,"acala1, brother in law of dhritaarashtra, brot..."
1,ashvashanku,brother of,ashva,"ashvashanku, brother of ashva, cf."
2,ashvashiras1,brother of,ashva,"ashvashiras1, brother of ashva, is incarnated ..."
3,ashvagriva1,brother of,ashva,"ashvagriva1, brother of ashva, incarnated as k..."
4,ashvapati1,brother of,ashva1,"ashvapati1, brother of ashva1, incarnate as ki..."